<!-- Preserve original nde-user-area content -->
<ng-content></ng-content>

<!-- Add your custom links inside the user area -->
<div class="su-user-links-custom-links">
  <h4>Quick Links</h4>
  <a href="https://scholarworks.seattleu.edu" target="_blank" class="eshelf-link">
    📚 ScholarWorks Repository
  </a>
  <a href="https://login.proxy.seattleu.edu/login?url=https://seattleu.illiad.oclc.org/illiad/illiad.dll" target="_blank" class="eshelf-link">
    📖 Inter-Library Loan Account
  </a>
</div>
