.details-label-mmsid {
    width: 9rem;
    min-width: 9rem;
    font: var(--sys-title-small);
    letter-spacing: var(--sys-title-small-tracking);
    display: inline-block;
    padding-top: 1rem;
}

.details-mmsid {
    font: var(--sys-body-medium);
    letter-spacing: var(--sys-body-medium-tracking);
    padding-top: 1rem;
    display: inline-block;
    padding-left: 1rem;
}