<h2 class="mat-title-medium">External Searches</h2>
<p><img src="{{ worldcatLogoUrl }}" alt="WorldCat Logo"><a target="_blank" rel="noopener noreferrer"
                href="{{ worldcatString }}{{ searchTerms }}">Search
                in
                {{ worldcatBrandName }}</a></p>
<p><img src="{{ googleScholarLogoUrl }}" alt="Google Scholar Logo"><a target="_blank" rel="noopener noreferrer"
                href="https://scholar.google.com/scholar?q={{ searchTerms }}">Search
                in Google Scholar</a></p>

